.tcl {
    color: #1b1d40;
    font-family: 'BIZ UDPGothic';
}

.font {
    font-family: 'BIZ UDPGothic';
}

.grey-border {
    border: #979eb1;
}

.background-color {
    background-color: #979eb1;
}

.button {
    background-color: #1b1d40;
    color: white;
}

.button:hover {
    background-color: #20279a;
    color: white;
}